h1{
    font-size: 22px;
    text-align: center;
}


img
{
    max-width: 80%;
    min-width: 70%;
    margin:0px;
    width: auto;
    height: auto;
}


.erp-form
{
    align-content: center;
    text-align: center;
    box-shadow: 0px 14px 16px 0px rgba(131, 30, 30, 0.5);
}
.grid-container
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:0px;
    min-width: 700px;
    background-color: rgba(117, 185, 157, 0.5);
    border-radius: 6px;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.5);
    background-image: linear-gradient(to bottom right, rgba(78, 130, 110, 1), rgba(100, 115, 130, 0.5));
}

.grid-item
{
    text-align: center;
    margin:0px;
    border: double 2px rgba(0, 0, 0, 0.8);
    background-color: rgba(117, 185, 157, 0.5);    
    border-radius: 6px;
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.5);
    
}

.project-header
{
    margin:6px;
    border-radius: 6px;
    font-size: 28px;
    text-align: center;
    background-color: rgba(117, 185, 157, 1);
    background-image: linear-gradient(to bottom right, rgba(78, 130, 110, 1), rgba(100, 115, 130, 0.5));    
    
}


#navbar{
    background-color: darkgray;
    list-style-type: none;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 2px 8px 6px 2px rgba(0,0,0,0.5);

}



li a{
    float: left;
    font-size: 16px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 6px;
    margin: 6px;
    box-shadow: 0px 4px 2px 0px rgba(56, 43, 43, 0.5);
    
}

  
/* Dropdown Button */
.dropdownBtn {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    margin: 6px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 2px 0px rgba(56, 43, 43, 0.5);
    
  }
  
  /* Dropdown button on hover & focus */
  .dropdownBtn:hover{
    background-color: gray;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.5);
    z-index: 1;
    text-align: center;
  }

  .colorPicker
  {
      outline-style: inset;
      padding: 6px;
  }
  
  .optionPicker
  {
      outline-style: inset;
      padding: 6px;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #dddddd}
  


.show {display:inline-block;}